.auth-page {
  --background: linear-gradient(160deg, #fefefe 0%, #fefefe 40%, #fefefe 100%);
}

// .auth-page {
//   --background: linear-gradient(160deg, #ff981a 0%, #ffb347 40%, #f5f5f5 100%);
// }

.auth-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.5rem;
}

/* HEADER / IMAGE SECTION */
.auth-header {
  text-align: center;
  margin-bottom: 2rem;
  animation: fadeUp 0.6s ease-out;
}

.auth-header img {
  width: 100%;
  max-width: 100%;
  height: auto;
  // margin-bottom: 0.5rem;
  // filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.15));
}

.auth-header h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 0.3rem;
}

.auth-header p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.95rem;
}

/* CARD */
.auth-card {
  width: 100%;
  // max-width: 420px;
  background: #ffffff;
  border-radius: 1.8rem;
  padding: 2rem 1.6rem;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
  animation: fadeUp 0.8s ease-out;
}

/* INPUTS */
ion-item {
  --background: #f5f5f5;
  --border-radius: 14px;
  --border-color: transparent;
  margin-bottom: 0.9rem;
  border-radius: 14px;
}

ion-input {
  color: #1f2937;
}

/* PRIMARY BUTTON */
.primary-btn {
  margin-top: 1.8rem;
  --background: #ff981a;
  --background-activated: #e68600;
  --border-radius: 1rem;
  --box-shadow: 0 10px 25px rgba(255, 152, 26, 0.45);
  font-weight: 600;
}

/* SWITCH TEXT */
.switch {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #4b5563;
}

.switch a {
  color: #ff981a;
  font-weight: 700;
  text-decoration: none;
}

/* ERROR */
.error-text {
  color: #e63946;
  font-size: 0.85rem;
  margin-left: 8px;
  margin-top: 4px;
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
