<ion-content class="auth-page">

  <div class="auth-container">

    <!-- BRAND / IMAGE -->
    <div class="auth-header">
      <img src="assets/images/logo.png" alt="Gas24" />
      <h2>Create Account</h2>
      <p>Fast gas delivery starts here</p>
    </div>

    <!-- FORM -->
    <div class="auth-card">

      <ion-item>
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input [(ngModel)]="fullName" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input type="number" [(ngModel)]="phone" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      <p *ngIf="passwordMismatch" class="error-text">
        Passwords do not match
      </p>

      <ion-button expand="block" size="large" class="primary-btn" (click)="register()" [disabled]="loading">
        {{ loading ? 'Creating account...' : 'Create Account' }}
      </ion-button>

      <p class="switch">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>

    </div>
  </div>

</ion-content>
