.edit-content {
  --background: #f5f5f5;
  padding: 16px;
}

.form-card {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

ion-item {
  --background: transparent;
  margin-bottom: 12px;
}

.save-btn {
  margin-top: 20px;
  --background: #ff981a;
  --border-radius: 12px;
}
